<div style="margin-top: 20px;">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase" style="color: rgb(180, 56, 180);">School of Enicarthage</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/test.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle timeline-image" src="../../assets/img/test.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Département Infomatique</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">L’ingénieur en génie informatique  formé à l’ENICarthage possède de bonnes connaissances technologiques et scientifiques, et a une approche axée sur la résolution de problèmes et la rentabilité. Il est également conscient(des incidences sociales, économiques et écologiques de ses projets. .</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/meca.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/meca.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Département Micatronique</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">L’ingénieur mécatronicien est un spécialiste de l’intégration. Il possède de larges connaissances en électronique, électrotechnique, automatique, mécanique et informatique embarquée.L’ingénieur mécatronicien est un ingénieur de conception, c'est un ingénieur d'études et développement c’est un ingénieur validation c’est aussi un roboticien, un automaticien et un chef de projet capable de concevoir et de développer les produits à hautes valeur ajoutée..</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/infotro.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/infotro.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Département Infotronique</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">La filière GSI vise donc à former des ingénieurs capables de gérer des systèmes électriques

                            complexes et intelligents, en maîtrisant, à la fois, les architectures matérielles et logicielles de ces
                            
                            derniers. Ainsi, l'ingénieur GSI, sera apte à proposer des solutions techniques optimales et à gérer
                            
                            un projet de conception d'un système électrique en maitrisant l'ensemble des étapes : conception
                            
                            matérielle du système, implantation des fonctions logicielles et développement d'applications
                            
                            spécifiques..</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/indus.jpg" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/indus.jpg"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Département Industrielle</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">L’ingénieur Génie des Systèmes Industriels et Logistiques(GSIL) exerce ses fonctions dans des responsabilités etsecteurs d’activités variée.

                            Il peut s’intégrer dans toute taille d’organisation : PME-PMI, grands groupesindustriels, sociétés de conseil..</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Proud to Be Part
                        <br />
                        Of Our
                        <br />
                        Enicar!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</div>